body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    color: #333;
    margin: 40px;
}

h1 {
    color: #0066cc;
}

ul {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    list-style-type: square;
}
